/* CSS Document */

.callbackAdvHolder
{
	position:fixed;
	top: 0; left: 0;
	right:0; bottom: 0;
	z-index:1200;
	overflow:hidden;
	
	background:#eee;
	background:rgba(225,225,225,0.80);
}

.callbackAdvAdmin .callbackAdv{
	margin:auto;
}

.callbackAdvHolder .callbackAdv
{
	position:absolute;
	
	left:50%;
	margin-left:-270px;
	
	top: 30%;
	margin-top:-125px;
}
.callbackAdv
{
	width:500px;
	background:#001B47;
	
	border-radius:20px;
	border:solid 4px white;
	
	box-shadow: 0 0 40px #000;
	
	padding:10px 20px;
	color:#fff;
}
.callbackAdvClose{
	position:absolute;
	top: 6px; right:20px;
	text-decoration:none;
	color:#fff;
}

.callbackAdv h1{
	text-align:center;
	font-size:32px;
	font-weight:normal;
}

.callbackAdvNote{
	text-align:center;
	font-size:18px;
}

.callbackAdvPhone{
	margin:20px 0;
	text-align:center;
	font-size:28px;
}
.callbackAdvPhone .input{
	padding:10px;
	background:#fff;
	border-radius:10px;
}
.callbackAdvPhone input
{
	width:100%;
	font-size:34px;
	text-align:center;
	background: none;
	border:none;
}

/* 

====== Zoom-out effect ======

*/
.callbackAdvActive .callbackAdv{
	-webkit-animation: zoomIn 0.5s;
}

@-webkit-keyframes zoomIn {
	0% {
		transform: scale(2); 
		opacity:0;
	}
	50% {
		transform: scale(0.8); 
		opacity:1;
	}
	100% {
		transform: scale(1); 
	}
}
