@charset "utf-8";
/* CSS Document */

.table .orderNote{
	color:#6699FF;
	padding-top:0;
}
.table .orderNote.manager{
	color:red;
}
.orderStatus_new{
	color:green;
}
.orderStatus_received{
	color:blue;
}
.orderStatus_wait{
	color:red;
}
.orderStatus_completed{
	color:silver;
}
.orderStatus_rejected{
	color:silver;
	text-decoration:line-through;
}

.shop_orders
{
	width:300px;
	max-height:80vh;
	overflow:auto;
}
.shop_orders .item
{
	padding:5px;
}

.shop_orders .orderPrice
{
	background:rgba(128, 128, 128, 0.5);
	padding:2px 10px;
	float:right;
}
.shop_orders .orderName
{
	font-size:1.3em;
}
.shop_orders .item.current
{
	background:rgba(255,255,255,0.5);
}
.shop_orders .item:hover
{
	background:rgba(255,255,255,0.15);
}