@charset "utf-8";
/* CSS Document */

.gallery td{
	padding:20px;
	border-left:solid 1px #eee;
	border-top:solid 1px #eee;
	vertical-align:top;
	text-align:center;
}
.gallery #first{ border-left:none; }
.gallery #first td{ border-top:none; } 
.gallery img{ box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5) }

.gallery .comment{ padding:10px 2px 0 2px; color: #555; text-shadow:1px 1px 0 rgba(0, 0, 0, 0.2) }
.gallery .comment p{ margin:0; }