/* CSS Document */

.fileUploadAdmin{
	margin:10% 20%;
	min-width:600px;
	min-height:300px;
	position:relative;
}

.fileUploadAdmin .content,
.fileUploadAdmin .content a
{
	color:white;
	text-decoration: none;
}
.fileUploadAdmin h1,
.fileUploadAdmin h2
{
	font-weight:normal;
	color:white;
	margin:0;
}
.fileUploadAdmin .content
{
	overflow:auto;
	
	border:solid 1px #888;
	padding:10px;
	
	background:#333;
}
.fileUploadAdmin div
{
	padding-left:20px;
}