
# <= index
AddDefaultCharset UTF-8

RewriteEngine On
RewriteRule (.+)\.htm$	/index.php
RewriteRule ^([^.]+)$	/index.php
# => index

# <= fb54f3c5992b96d001bb16e8e92d968d
RewriteCond %{HTTP_HOST} shop
RewriteCond %{REQUEST_FILENAME} /images
RewriteRule ^(images/.+)	/_sites/shop/$1
RewriteCond %{HTTP_HOST} shop
RewriteCond %{REQUEST_FILENAME} !/_|php$
RewriteRule (.+)	_cache/shop/siteFiles/$1
RewriteCond %{HTTP_HOST} shop
RewriteCond %{REQUEST_FILENAME} _editor/.*(fck_editorarea.css|fckstyles.xml)
RewriteCond V:/WEB/DEV/_cache/shop/siteFiles/%1 -f
RewriteRule .*	_cache/shop/siteFiles/%1
# => fb54f3c5992b96d001bb16e8e92d968d

# <= 07d935680b6501b2e42fe4baea021389
RewriteCond %{HTTP_HOST} mk
RewriteCond %{REQUEST_FILENAME} /images
RewriteRule ^(images/.+)	/_sites/shop_mk/$1
RewriteCond %{HTTP_HOST} mk
RewriteCond %{REQUEST_FILENAME} !/_|php$
RewriteRule (.+)	_cache/shop_mk/siteFiles/$1
RewriteCond %{HTTP_HOST} mk
RewriteCond %{REQUEST_FILENAME} _editor/.*(fck_editorarea.css|fckstyles.xml)
RewriteCond V:/WEB/DEV/_cache/shop_mk/siteFiles/%1 -f
RewriteRule .*	_cache/shop_mk/siteFiles/%1
# => 07d935680b6501b2e42fe4baea021389

# <= bc7b36fe4d2924e49800d9b3dc4a325c
RewriteCond %{HTTP_HOST} fs
RewriteCond %{REQUEST_FILENAME} /images
RewriteRule ^(images/.+)	/_sites/fs/$1
RewriteCond %{HTTP_HOST} fs
RewriteCond %{REQUEST_FILENAME} !/_|php$
RewriteRule (.+)	_cache/fs/siteFiles/$1
RewriteCond %{HTTP_HOST} fs
RewriteCond %{REQUEST_FILENAME} _editor/.*(fck_editorarea.css|fckstyles.xml)
RewriteCond V:/WEB/DEV/_cache/fs/siteFiles/%1 -f
RewriteRule .*	_cache/fs/siteFiles/%1
# => bc7b36fe4d2924e49800d9b3dc4a325c

# <= d1f1a0cafce848840f83feb1b0979d90
RewriteCond %{HTTP_HOST} tah
RewriteCond %{REQUEST_FILENAME} /images
RewriteRule ^(images/.+)	/_sites/tah/$1
RewriteCond %{HTTP_HOST} tah
RewriteCond %{REQUEST_FILENAME} !/_|php$
RewriteRule (.+)	_cache/tah/siteFiles/$1
RewriteCond %{HTTP_HOST} tah
RewriteCond %{REQUEST_FILENAME} _editor/.*(fck_editorarea.css|fckstyles.xml)
RewriteCond V:/WEB/DEV/_cache/tah/siteFiles/%1 -f
RewriteRule .*	_cache/tah/siteFiles/%1
# => d1f1a0cafce848840f83feb1b0979d90

# <= 05b8c74cbd96fbf2de4c1a352702fbf4
RewriteCond %{HTTP_HOST} window
RewriteCond %{REQUEST_FILENAME} /images
RewriteRule ^(images/.+)	/_sites/windows/$1
RewriteCond %{HTTP_HOST} window
RewriteCond %{REQUEST_FILENAME} !/_|php$
RewriteRule (.+)	_cache/windows/siteFiles/$1
RewriteCond %{HTTP_HOST} window
RewriteCond %{REQUEST_FILENAME} _editor/.*(fck_editorarea.css|fckstyles.xml)
RewriteCond V:/WEB/DEV/_cache/windows/siteFiles/%1 -f
RewriteRule .*	_cache/windows/siteFiles/%1
# => 05b8c74cbd96fbf2de4c1a352702fbf4

# <= 8fad61ae36c06593a2dc3d5e1bc26f5b
RewriteCond %{HTTP_HOST} tis-intro
RewriteCond %{REQUEST_FILENAME} /images
RewriteRule ^(images/.+)	/_sites/tis-intro/$1
RewriteCond %{HTTP_HOST} tis-intro
RewriteCond %{REQUEST_FILENAME} !/_|php$
RewriteRule (.+)	_cache/tis-intro/siteFiles/$1
RewriteCond %{HTTP_HOST} tis-intro
RewriteCond %{REQUEST_FILENAME} _editor/.*(fck_editorarea.css|fckstyles.xml)
RewriteCond V:/WEB/DEV/_cache/tis-intro/siteFiles/%1 -f
RewriteRule .*	_cache/tis-intro/siteFiles/%1
# => 8fad61ae36c06593a2dc3d5e1bc26f5b

# <= 12662f0b3e3b7454907bff5ac8b985fa
RewriteCond %{HTTP_HOST} tis
RewriteCond %{REQUEST_FILENAME} /images
RewriteRule ^(images/.+)	/_sites/tis/$1
RewriteCond %{HTTP_HOST} tis
RewriteCond %{REQUEST_FILENAME} !/_|php$
RewriteRule (.+)	_cache/tis/siteFiles/$1
RewriteCond %{HTTP_HOST} tis
RewriteCond %{REQUEST_FILENAME} _editor/.*(fck_editorarea.css|fckstyles.xml)
RewriteCond V:/WEB/DEV/_cache/tis/siteFiles/%1 -f
RewriteRule .*	_cache/tis/siteFiles/%1
# => 12662f0b3e3b7454907bff5ac8b985fa

# <= 465c7851d8357f985844726d0457bb0a
RewriteCond %{HTTP_HOST} avtomag
RewriteCond %{REQUEST_FILENAME} /images
RewriteRule ^(images/.+)	/_sites/avtomag/$1
RewriteCond %{HTTP_HOST} avtomag
RewriteCond %{REQUEST_FILENAME} !/_|php$
RewriteRule (.+)	_cache/avtomag/siteFiles/$1
RewriteCond %{HTTP_HOST} avtomag
RewriteCond %{REQUEST_FILENAME} _editor/.*(fck_editorarea.css|fckstyles.xml)
RewriteCond V:/WEB/DEV/_cache/avtomag/siteFiles/%1 -f
RewriteRule .*	_cache/avtomag/siteFiles/%1
# => 465c7851d8357f985844726d0457bb0a

# <= d616a0b2d0d9ebed26e4e3436e19f42c
RewriteCond %{HTTP_HOST} avto
RewriteCond %{REQUEST_FILENAME} /images
RewriteRule ^(images/.+)	/_sites/avto/$1
RewriteCond %{HTTP_HOST} avto
RewriteCond %{REQUEST_FILENAME} !/_|php$
RewriteRule (.+)	_cache/avto/siteFiles/$1
RewriteCond %{HTTP_HOST} avto
RewriteCond %{REQUEST_FILENAME} _editor/.*(fck_editorarea.css|fckstyles.xml)
RewriteCond V:/WEB/DEV/_cache/avto/siteFiles/%1 -f
RewriteRule .*	_cache/avto/siteFiles/%1
# => d616a0b2d0d9ebed26e4e3436e19f42c

# <= be77df2695be7aa66173fd99b3f61046
RewriteCond %{HTTP_HOST} dt.*
RewriteCond %{REQUEST_FILENAME} /images
RewriteRule ^(images/.+)	/_sites/dt-ekb.ru/$1
RewriteCond %{HTTP_HOST} dt.*
RewriteCond %{REQUEST_FILENAME} !/_|php$
RewriteRule (.+)	_cache/dt-ekb.ru/siteFiles/$1
RewriteCond %{HTTP_HOST} dt.*
RewriteCond %{REQUEST_FILENAME} _editor/.*(fck_editorarea.css|fckstyles.xml)
RewriteCond V:/WEB/DEV/_cache/dt-ekb.ru/siteFiles/%1 -f
RewriteRule .*	_cache/dt-ekb.ru/siteFiles/%1
# => be77df2695be7aa66173fd99b3f61046

# <= 4fd4a56c435d5c26b3c3c366f51b074e
RewriteCond %{HTTP_HOST} .*
RewriteCond %{REQUEST_FILENAME} /images
RewriteRule ^(images/.+)	/_sites/default/$1
RewriteCond %{HTTP_HOST} .*
RewriteCond %{REQUEST_FILENAME} !/_|php$
RewriteRule (.+)	_cache/default/siteFiles/$1
RewriteCond %{HTTP_HOST} .*
RewriteCond %{REQUEST_FILENAME} _editor/.*(fck_editorarea.css|fckstyles.xml)
RewriteCond V:/WEB/DEV/_cache/default/siteFiles/%1 -f
RewriteRule .*	_cache/default/siteFiles/%1
# => 4fd4a56c435d5c26b3c3c366f51b074e
