

# <= index
RewriteEngine On
RewriteRule (.+)\.htm$	/dev/index.php
# => index





# <= 0f4137ed1502b5045d6083aa258b5c42
RewriteCond %{HTTP_HOST} .*
RewriteCond %{REQUEST_FILENAME} !/_sites/
RewriteCond %{REQUEST_FILENAME} /images
RewriteRule ^(images/.+)	/dev/_sites/windows/$1
RewriteCond %{HTTP_HOST} .*
RewriteCond %{REQUEST_FILENAME} !php$
RewriteCond %{REQUEST_FILENAME} !/_editor/
RewriteCond %{REQUEST_FILENAME} !/_cache/
RewriteCond %{REQUEST_FILENAME} !/_sites/
RewriteRule (.+)	/dev/_cache/windows/siteFiles/$1
# => 0f4137ed1502b5045d6083aa258b5c42
