@charset "utf-8";
/* CSS Document */

.ajaxHolder{
	position:fixed;
	top: 0; right:15%; left:15%;
	max-height:100%;
	overflow:auto;
}
.ajaxClose{
	position:absolute;
	right:25px; top:24px;
	font-weight:bold;
	background:#eee;
	border:solid 1px #ddd;
	padding:0px 5px;
	border-radius:3px;
}
.ajaxClose a{
	color:#666;
	text-decoration:none;
}

.ajaxHolderEdit{
	position:fixed;
	top: 10px; right:10%; left:10%;
	color:white;
}
.ajaxDocument{
	background:#fff;
	padding:20px;
	margin:20px;
	border-radius:5px;
	border:solid #ccc 2px;
	color:#666;
}
.ajaxDocument a{
	color:#333;
}
.ajaxDocument h1{
	font-weight:normal;
	font-size:24px;
	color:#555;
}
.ajaxHolderEdit h1{
	color:white;
}

.ajaxDocument .form td, .ajaxDocument .form th{
	color:#666;
	padding:10px 5px;
	font-size:14px;
	text-shadow:none;
}
.ajaxDocument .form .input{
	font-size:24px;
	border-radius:5px;
}
