@charset "utf-8";
/* CSS Document */
body{
	background: #fff;
	color:#444;
	padding:0; margin:0;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	line-height:1.5em;
}

h1{
	font-weight:normal;
	font-size:32px;
	margin-top:0;
}

a{
	color:#333;
}

.input{
	margin:0; padding:0;
	border:solid 1px #aaa;
	background:#fff;
}

.w100{
	width:100%;
	margin:0; padding:0;
}

.header{
	padding:10px;
	border-bottom:solid 1px #807e00;

box-shadow:0 0 20px gray;
background: #b7ad70;
background: -moz-linear-gradient(top,  rgba(213,206,166,1) 0%, rgba(201,193,144,1) 40%, rgba(183,173,112,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(213,206,166,1)), color-stop(40%,rgba(201,193,144,1)), color-stop(100%,rgba(183,173,112,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(213,206,166,1) 0%,rgba(201,193,144,1) 40%,rgba(183,173,112,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(213,206,166,1) 0%,rgba(201,193,144,1) 40%,rgba(183,173,112,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(213,206,166,1) 0%,rgba(201,193,144,1) 40%,rgba(183,173,112,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(213,206,166,1) 0%,rgba(201,193,144,1) 40%,rgba(183,173,112,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5cea6', endColorstr='#b7ad70',GradientType=0 ); /* IE6-9 */
}

.header a{
	color:#fff;
}

.copyright{
	padding:10px;
	background:#b7ad70;
}

.DEV_logo{
	float:left;
	width:160px;
	padding:18px 0px;
	margin-right:50px;
}

.DEV_adv{
	font-size:24px;
	text-shadow:1px 1px 1px black;
	color:#fff;
	font-weight:bold;
}
.clear{
	clear:both;
}
.shadow{
	box-shadow:0 0 20px rgba(0, 0, 0, 0.3);
}


.form h1{
	margin-top:0;
}
.form th{
	text-align:left;
	padding:2px;
	color:white;
}
.form{
	text-shadow:1px 1px 1px black;
}

.message{
	padding:20px;
	text-align:center;
	border:solid 1px #888;
	background:#DFDFDF;
	margin:10px 0px;
	color:black;
}
.message a{
	color:black;
}
.message.error{
	background-color:#630;
	color:white;
}
.message.error a{
	color:white;
}
.body{
	margin:50px 5%;
	padding:20px;
	background:#f8f8f8;
}
.ajaxHolder{
	position:fixed;
	top: 15%; right:20%; left:20%;
}
.ajaxClose{
	position:absolute;
	right:28px; top:25px;
	font-weight:bold;
	background:#eee;
	border:solid 1px #ddd;
	padding:2px 5px;
	border-radius:3px;
}
.ajaxClose a{
	color:#666;
	text-decoration:none;
}

.ajaxHolderEdit{
	position:fixed;
	top: 10px; right:10%; left:10%;
	color:white;
}
.ajaxDocument{
	background:#fff;
	padding:20px;
	margin:20px;
	border-radius:5px;
	border:solid #ccc 2px;
	color:#666;
}
.ajaxDocument a{
	color:#333;
}

.ajaxDocument .form td, .ajaxDocument .form th{
	color:#666;
	padding:10px 5px;
	font-size:14px;
	text-shadow:none;
}
.ajaxDocument .form input{
	font-size:16px;
}

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
}.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}.button:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */

.right{
	float:right;
}