@charset "utf-8";
/* CSS Document */

.scroll{
	position:relative;
	margin:10px 0px;
}
.scroll .context{
	position:relative;
	overflow:hidden;
}
.scroll td{
	padding:5px;
	text-align:center;
	vertical-align:top;
}
.scroll h3{
	margin:0;
	font-weight:normal;
}
.scroll td.buy{
	text-align:left;
}
.scroll2 div{
	margin-bottom:10px;
}