@charset "utf-8";
/* CSS Document */

.scroll{
	position:relative;
	margin:10px 0px;
}
.scroll .context{
	position:relative;
	overflow:hidden;
}
.scroll td{
	padding:5px;
	text-align:center;
	vertical-align:top;
}
