@charset "utf-8";

.adminSpace{
	padding-top:30px;
}
/* CSS Document */
.adminToolbar,
.adminToolbar *,
.adminPanel,
.adminPanel *
{
	font-family:Arial, Helvetica, sans-serif !important;
	font-size:12px !important;
}
.adminToolbar
{
	position:fixed;
	top:0;	left:0;	right:0;
	height:20px;
	
	background:#000 !important;

	opacity: 0.2;
	-webkit-opacity: 0.2;
	-moz-opacity: 0.2;
	filter:alpha(opacity=20);
	
	z-index:1031;
}

.adminHover{
	top:0;	left:0;	right:0;
	height:20px;
	position:fixed;
	z-index:1032;
}

.adminPanel
{
	position:fixed !important;
	cursor:default !important;
	color:black !important;
	padding:2px 0px !important;
	font-size:12px !important;
	font-weight:bold !important;
	padding-left:10px !important;
	text-shadow:0 0 3px black !important;
	color:white !important;
	text-decoration:none !important;
 }
.adminPanel b{
	position:fixed;
	right:0; top:0;
}

.adminTools{
	position:fixed;
	top:0;	left:0;	right:0;
	visibility: hidden;
	min-width:800px;
}
.adminHover:hover .adminTools{
	visibility:visible;
}
.adminTools a{
	text-decoration:none;
}
.adminTools a:hover{
	text-decoration:underline;
}
.adminTools pre{
	overflow:auto;
	max-height:400px;
}
.adminTools div pre span span:hover{
	text-decoration:underline;
}
.adminTools .errorMessage{
	color:brown;
}
.adminTab{
	margin:10px 0px;
}


.admin .propFormat span{
	color:#0F0;
}
.adminReplicate a.delete{
	display:none;
}
a.delete {
	text-decoration:none;
	color:#FF0000;
	display:block;
	margin-right:5px;
}

.adminTools .input{
	font-size:14px;
	padding:2px 0px;
	margin:4px 0px;
	margin-right:8px;
	border:solid 1px #888;
	background:white;
	color:#333;
}
.adminTools th,
.adminTools .table th,
.ui-tabs table th,
.adminArea table th{
	text-align:left;
	color:#66CCFF;
	font-size:18px;
	font-weight:normal;
	border-color:#66CCFF;
}
.adminTools td,
.adminTools .table td,
.ui-tabs table td,
.adminArea table td{
	border:none;
	padding:2px;
}
.adminTools h2.ui-state-default,
.admin h2.ui-state-default
{
	background:none;
	border-left:none;
	border-top:none;
	border-right:none;
	margin:0; margin-bottom:5px;
	padding-bottom:5px;
}
.adminTools div h2{
	font-size:18px !important;
	margin-bottom:0;
	margin-top:10px;
}

.admin .input{
	margin:2px;
}
.table.all div small a{
	color:#999999;
}
.adminToolMenu div{
	margin-bottom:5px;
}
.adminLink{
	text-decoration:none;
}
.ui-autocomplete {
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
}
body .ui-front{
	z-index:1100;
}
/**************************/
.adminTools td.adminToolMenu{
	padding-left:20px;
}
.adminToolMenu .adminTabSelector
{
	text-decoration:none;
	display:block;
}
.adminToolMenu .adminTabSelector.current
{
	text-decoration:underline;
}
.adminTabContent .adminTabLeft
{
	float:left;
}
.adminTabContent .adminTabRight
{
	float:right;
	text-align:right;
}

.admin-selectable
{
	-webkit-user-select: auto; /* Chrome/Safari */        
	-moz-user-select: auto; /* Firefox */
	-ms-user-select: auto; /* IE10+ */
	
	/* Rules below not implemented in browsers yet */
	-o-user-select: auto;
	user-select: auto;
}

.admin-unselectable
{
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	
	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}