@charset "utf-8";
/* CSS Document */

@media all and (max-width: 1850px){ .sales2 .cell9{ display:none; } }
@media all and (max-width: 1700px){	.sales2 .cell8{ display:none; } }
@media all and (max-width: 1500px){	.sales2 .cell7{ display:none; } }
@media all and (max-width: 1350px){	.sales2 .cell6{ display:none; } }
@media all and (max-width: 1170px){	.sales2 .cell5{ display:none; } }
@media all and (max-width: 1300px){	
	.body { width:auto; }
	.header .info{ display:none; }
}

.clipOverflow{	overflow:hidden; }

body{
	padding:0; margin:0;
	font-size:12px;
	color:#333;
	line-height:150%;
	font-family:Verdana, Geneva, sans-serif;
}
.body{
	max-width:1330px;
	position:relative;
	text-align:left;
}

h1{
	font-size:28px;
	color:#252525;
}

h2{
	margin-top:0;
	font-weight:normal;
	font-size:18px;
}

h1, h2, h3, h4, h5, h6{ line-height:normal; }
a{ color:#36C; }
/*******************************/
.paddingRight{ padding-right:20px; }
.paddingLeft{ padding-left:40px; }
/******************************************/
.searchPanel .menu{ padding-left:35px; overflow:hidden; }
.searchPanel .menu a{
	color:#000;
	text-shadow:1px 1px 1px white;
	padding:0; margin:5px 13px 5px 0px;
	text-decoration:none;
}
.searchPanel .menu a.current{ border-bottom:dashed 1px black; }
.header .info{ white-space:nowrap; }
.header .info a{ text-decoration:none; }
/******************************************/
.copyright{ margin:30px 0px; }
/******************************************/
.panel.left{
	padding-right:50px;
	width:200px;
	min-width:200px;
}
/********************************************/
.searchForm{
	margin:0px;
}
.searchForm h2{
	color:#FF6633;;
	margin:0;
	font-size:26px;
}
.searchForm td{
	padding-right:10px;
}
.searchForm .input{
	font-size:26px;
}
.searchForm h3{
	margin:0; padding:0;
	color:#FF6633;;
	display:inline;
}
.searchForm span{
	margin:0 5px;
	white-space:nowrap;
}
/**************************************************/
.menuHolder{
	z-index:10;
	position:relative;
	border-top:solid 8px #555;
	background:white url(design/propertyBG2.gif) left bottom repeat-x;
}
.menuHolder2{
	border:solid 1px #ddd;
	border-top:none;
	width:230px;
	min-width:180px; min-height:380px;
	background:url(design/propertyBG.gif) left top repeat-x;
}
/**************************************************/
.menuEx h2{
	padding:0 20px 8px 20px;
	border-bottom:solid 2px #FF6600;
	margin:0 0 5px 0;
	white-space:nowrap;
}
.menuEx a{
	display:block;
	padding:10px 20px;
	text-decoration:none;
	color:#014c92;
}
.menuEx .parent ul a{
	color:#333;
}
.menuEx ul .current a, .menuEx .parent a{
	color:#F60;
}
.menuEx a:hover{
	background:#e5e5e5;
}
.menuEx ul{
	padding:10px 0;
}
.menuEx ul ul{
	background:white;
	box-shadow:0 0 20px rgba(0, 0, 0, 0.2);
	min-width:200px;
	min-height:200px;
	border-top:solid 8px #555;
	top:-8px; z-index:10;
}
.menuEx ul ul span{
	white-space:nowrap;
}
.menuEx a div{
	color:#999;
	font-size:11px;
}
/**************************************/
.header .topMenu{
	width:520px; min-width:520px;
}
.header .topMenu a{
	width:220px;
	padding:5px 0 5px 35px;
	background:url(design/iconTop.gif) no-repeat;
	text-decoration:none;
	color:#000;
}
.topMenu .icon0 a{ background-position:0 -30px;}
.topMenu .icon1 a{ background-position:0 -60px;}
.topMenu .icon2 a{ background-position:0 -90px;}
.topMenu .icon3 a{ background-position:0 -120px;}
/****************************************/
.searchPanel{
	background: #e4e4e4 url(design/searcgBG.gif) repeat-x;
	white-space:nowrap;
	height:85px;
}
/*********************************************/
.searchField table{
	border-radius:6px;

background: rgb(186,102,102); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(186,102,102,1) 0%, rgba(255,145,135,1) 8%, rgba(255,165,165,1) 49%, rgba(255,119,119,1) 50%, rgba(255,26,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(186,102,102,1)), color-stop(8%,rgba(255,145,135,1)), color-stop(49%,rgba(255,165,165,1)), color-stop(50%,rgba(255,119,119,1)), color-stop(100%,rgba(255,26,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(186,102,102,1) 0%,rgba(255,145,135,1) 8%,rgba(255,165,165,1) 49%,rgba(255,119,119,1) 50%,rgba(255,26,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(186,102,102,1) 0%,rgba(255,145,135,1) 8%,rgba(255,165,165,1) 49%,rgba(255,119,119,1) 50%,rgba(255,26,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(186,102,102,1) 0%,rgba(255,145,135,1) 8%,rgba(255,165,165,1) 49%,rgba(255,119,119,1) 50%,rgba(255,26,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(186,102,102,1) 0%,rgba(255,145,135,1) 8%,rgba(255,165,165,1) 49%,rgba(255,119,119,1) 50%,rgba(255,26,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba6666', endColorstr='#ff1a00',GradientType=0 ); /* IE6-9 */
}
.searchField .center{
	padding-right:20px
}
.searchField .left{
	padding:0 20px;
	font-size:14px;
	font-weight:bold;
	color:white;
	text-shadow:0px 0px 2px #800;
}
.searchField .input{
	border:none;
	margin:0; padding:10px 10px;
	font-size:24px;
	border-radius:0;
	
	background: rgb(214,214,214); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(214,214,214,1) 0%, rgba(255,255,255,1) 8%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(214,214,214,1)), color-stop(8%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(214,214,214,1) 0%,rgba(255,255,255,1) 8%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(214,214,214,1) 0%,rgba(255,255,255,1) 8%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(214,214,214,1) 0%,rgba(255,255,255,1) 8%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(214,214,214,1) 0%,rgba(255,255,255,1) 8%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}
.searchField .button2{
	border:none;
	background:url(design/searchSubmit.gif) center center no-repeat;
	width:50px;
	height:22px;
}
/*********************************************/
.catalogName a{
	display:block;
	text-align:center;
	font-weight:bold;
	text-shadow:1px 1px 1px #fff;
	font-size:16px;
	color:#555;
	width:140px;
	min-width:140px;
	background:url(design/iconSelect.gif) center right no-repeat;
	margin-right:10px;
	text-decoration:none;
}
/***********************************************/
.headLogin{
	padding:0 20px;
	color:#888;
	text-shadow:1px 1px 1px white;
}
.headLogin a{
	color:#555;
	text-decoration:none;
	font-weight:bold;
	border-bottom:dashed 1px #555;
}
/**************************************************/
.headBask{
	padding:0 10px;
	white-space:nowrap;
	font-weight:bold;
	font-size:24px;
}
/**********************************************/
.banner .bannerImage{
	height:300px;
	min-width:700px;
}
/**************************************************/
.document{
	padding:20px 20px;
}
/**************************************************/
.iconSale{
	background:url(design/iconSale.gif) no-repeat;
	padding-left:55px;
	height:45px;
}
.iconSale h2{
	margin:0;
}
.iconSale.icon2{
	background-position:0 -45px;
}
.iconSale.icon3{
	background-position:0 -90px;
}
/*****************************************/
.saleBig{
	color:#464646;
	width:320px;
	margin:auto;
	padding:10px 0;
	overflow:hidden;
}
.saleBig a{
	color:#243f7d;
	text-decoration:none;
	display:block;
	padding:5px 0;
	min-height:64px; height:64px;
}
.saleBig .image{
	display:block;
	height:auto; min-height:inherit;
}
.saleBig .price{
	font-size:26px;
	font-weight:bold;
}
/*************************************************/
.button2 .baskButton, input.button
{
	border-color:#888;
	white-space:normal;
	text-shadow:none;
	padding:6px 35px;
	border:solid 1px  rgb(193,222,59);
	color:black;
	white-space:nowrap;
	
	-moz-box-shadow:inset 0px 1px 0px 0px #adcb23;
	-webkit-box-shadow:inset 0px 1px 0px 0px #adcb23;
	box-shadow:inset 0px 1px 0px 0px #adcb23;
	
	background:none;
	background: rgb(193,222,59); /* Old browsers */
	background: -moz-linear-gradient(top,  rgb(193,222,59) 0%, rgb(193,222,58) 5%, rgb(212,232,117) 7%, rgb(209,229,115) 40%, rgb(209,229,114) 42%, rgb(189,218,53) 44%, rgb(183,213,47) 79%, rgb(173,203,35) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(193,222,59)), color-stop(5%,rgb(193,222,58)), color-stop(7%,rgb(212,232,117)), color-stop(40%,rgb(209,229,115)), color-stop(42%,rgb(209,229,114)), color-stop(44%,rgb(189,218,53)), color-stop(79%,rgb(183,213,47)), color-stop(100%,rgb(173,203,35))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(193,222,59) 0%,rgb(193,222,58) 5%,rgb(212,232,117) 7%,rgb(209,229,115) 40%,rgb(209,229,114) 42%,rgb(189,218,53) 44%,rgb(183,213,47) 79%,rgb(173,203,35) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(193,222,59) 0%,rgb(193,222,58) 5%,rgb(212,232,117) 7%,rgb(209,229,115) 40%,rgb(209,229,114) 42%,rgb(189,218,53) 44%,rgb(183,213,47) 79%,rgb(173,203,35) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(193,222,59) 0%,rgb(193,222,58) 5%,rgb(212,232,117) 7%,rgb(209,229,115) 40%,rgb(209,229,114) 42%,rgb(189,218,53) 44%,rgb(183,213,47) 79%,rgb(173,203,35) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb(193,222,59) 0%,rgb(193,222,58) 5%,rgb(212,232,117) 7%,rgb(209,229,115) 40%,rgb(209,229,114) 42%,rgb(189,218,53) 44%,rgb(183,213,47) 79%,rgb(173,203,35) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1de3b', endColorstr='#adcb23',GradientType=0 ); /* IE6-9 */
}input.button:hover {
	background:none;
	background: rgb(193,222,59); /* Old browsers */
	background: -moz-linear-gradient(top,  rgb(193,222,59) 0%, rgb(193,222,58) 5%, rgb(212,232,117) 7%, rgb(209,229,115) 40%, rgb(209,229,114) 42%, rgb(189,218,53) 44%, rgb(183,213,47) 79%, rgb(173,203,35) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(193,222,59)), color-stop(5%,rgb(193,222,58)), color-stop(7%,rgb(212,232,117)), color-stop(40%,rgb(209,229,115)), color-stop(42%,rgb(209,229,114)), color-stop(44%,rgb(189,218,53)), color-stop(79%,rgb(183,213,47)), color-stop(100%,rgb(173,203,35))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(193,222,59) 0%,rgb(193,222,58) 5%,rgb(212,232,117) 7%,rgb(209,229,115) 40%,rgb(209,229,114) 42%,rgb(189,218,53) 44%,rgb(183,213,47) 79%,rgb(173,203,35) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(193,222,59) 0%,rgb(193,222,58) 5%,rgb(212,232,117) 7%,rgb(209,229,115) 40%,rgb(209,229,114) 42%,rgb(189,218,53) 44%,rgb(183,213,47) 79%,rgb(173,203,35) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(193,222,59) 0%,rgb(193,222,58) 5%,rgb(212,232,117) 7%,rgb(209,229,115) 40%,rgb(209,229,114) 42%,rgb(189,218,53) 44%,rgb(183,213,47) 79%,rgb(173,203,35) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb(193,222,59) 0%,rgb(193,222,58) 5%,rgb(212,232,117) 7%,rgb(209,229,115) 40%,rgb(209,229,114) 42%,rgb(189,218,53) 44%,rgb(183,213,47) 79%,rgb(173,203,35) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1de3b', endColorstr='#adcb23',GradientType=0 ); /* IE6-9 */
}input.button:active {
}
a.baskButton{
	width:auto;
}
/*************************************************/
.price{
	color:#ff0000;
	white-space:nowrap;
}
.price.old{
	text-decoration:line-through;
	color:#555;
	float:right;
}
.priceName{
	white-space:nowrap;
}
.priceName big{
	font-size:28px;
}
/*******************************************/
td.saleSmall{
	padding-left:20px;
}
.saleSmall h2{
	color:#243f7d;
	font-size:14px;
	font-weight:bold;
}
.saleSmall td, .saleSmall th{
	vertical-align:top;
	padding:5px 0;
}
.saleSmall th{
	padding-right:10px;
	padding-top:5px;
}
.saleSmall td{
	width:150px;
	max-width:150px;
	overflow:hidden;
}
.saleSmall a{
	color:#243f7d;
	text-decoration:none;
	display:block;
	margin-bottom:10px;
}
/*********************************************/
.sales{
	border-top:solid 1px #aaa;
	padding:10px 0;
}
.sales h2{
	margin:0;
	font-size:14px;
	font-weight:bold;
	margin-bottom:10px;
}
.sales h2 a{
	color:#888;
	text-decoration:none;
}
.sales .clipOverflow{
	padding-left:40px;
}
/************************************************/
.sales th, .sales td{
	vertical-align:top;
	font-size:11px;
}
.sales2 td{
	vertical-align:top;
	padding-bottom:10px;
}
.sales2 th{
	padding-bottom:10px;
}
.sales2 td div{
	overflow:hidden;
	text-align:left;
	margin:0 10px;
}
.sales2 a{
	color:#243f7d;
	text-decoration:none;
}
.sales2 a:hover{
	text-decoration:underline;
}
.sales2 .price{
	font-size:16px;
	font-weight:bold;
}
.sales2 .buy{
	padding-bottom:20px;
}
/***********************************************/
.indexAdv{
	min-height:280px;
}
/***********************************************/
.copyright{
	border-top:solid 1px #e2e2e2;
	padding:10px 0;
	margin:0 20px;
	margin-top:20px;
}
.copyright td{
	padding:0 10px;
}
/*****************************************************/
.viewHistory{
	padding:20px 0 0 40px;
}
.viewHistory h2{
	margin:0;
	color:#464646;
	font-weight:bold;
}
/****************************/
.warranty{
	background:#fdfdfd;
	padding:10px;
	border:solid 1px #ddd;
}
.warranty td{
	vertical-align:top;
	text-align:center;
	padding:10px;
}
.warranty .holder{
	width: 200px;
	text-align:left;
	overflow:hidden;
	zoom: 1;
	display:inline-block;
	*display: inline;
}
.warranty .icon{
	background:url(design/iconWarranty.gif) no-repeat;
	width:100px; height:80px;
}
.warranty .icon.i2{ background-position:-100px; }
.warranty .icon.i3{	background-position:-200px; }
.warranty .icon.i4{	background-position:-300px; }
/***********************************/
.warranty2  .icon{
	display:block;
	width:70px; height:70px;
	background:url(design/iconWarranty2.gif) no-repeat;
	position:relative;
	cursor:pointer;
}
.warranty2 .i2{ background-position:-80px 0; }
.warranty2 .i3{ background-position:-160px 0; }
.warranty2 .i4{ background-position:-240px 0; }

.warranty2 .ctx{
	position:absolute;
	bottom:110%;
	background:white;
	left:50%; width:250px;
	border:solid 1px #eee;
	border-radius:5px; border-bottom-left-radius:0;
	padding:5px 10px;
	box-shadow:4px 4px 10px rgba(0, 0, 0, 0.3);
	z-index:1;
	display:none;
}
.warranty2 .ctx:after{
	content: " ";
	display:block;
	position:absolute;
	background:url(design/iconWarrantyTooltip.gif) no-repeat;
	left:-7px; bottom: -14px;
	width:17px; height:14px;
}
.warranty2 div:hover .ctx{
	display:block;
}
/***********************************/
.info .tabs{
	width:75%;
}
.info .tabs li{
	width:33%;
	padding:20px 0 0 0;
	float:left;
	white-space:nowrap;
}
ul.tabs, .tabs li{
	margin:0;
	padding:0;
}
.info .tabs div{
	clear:both;
	border-top:solid 1px #ccc;
}
.info .tabs a{
	zoom: 1;
	display:inline-block;
	*display: inline;
	color:#333; padding:0 5px;
	text-decoration:none;
	border-bottom:solid 4px #fff;
	font-weight:bold;
	padding-bottom:4px;
}
.info .tabs .current a{
	border-bottom:solid 4px #ccc;
}
.info .content{
	display:none;
	padding:20px 0;
}
.info .content.current{
	display:block;
}
/**************************************/
.gallery.small img, .gallery.small a:hover img{
	border:none;
}
/************************************/
.product h1{
	font-size:18px;
	color:#333;
	margin:15px 0 10px 0;
}
.product .priceName{
	font-size:22px;
	font-weight:bold;
}
.product.page{
	padding-right:20px;
}
/***********************************/
.path, .path a{
	color:#333;
}
h1.path{
	font-size:20px;
	font-weight:bold;
	margin:30px 0 30px 0;
}
h1.path a{
	color:#004b91;
	text-decoration:none;
}
h1.path a:hover{
	text-decoration:underline;
}
/********************************/
.property *{
	margin:0; padding:0;
	list-style:none;
	list-style-image:none;
}
.property li{
	display:block;
}
/*****************************/
table.search.property, table.search.property tr *{
	border:none;
	color:#333;
}
table.search.property th{
	padding:7px 20px 0 0;
}
/*************************/
.search2.search.property .title{
	background:none;
	border:none;
}
.search2 .panel:hover h3{ background:#555; color:white; text-shadow:1px 1px 1px #000; }
.search2 .panel:hover	{ background:#eee; }
.search2 .panel:hover a	{ color:#000; }
.search2 .panel a:hover	{ color:#A00; }

.search2 span{	white-space:nowrap; }
.search2 .panel .expand{ padding:0; }
.search2 .panel :hover .expand div	{ display:block; }
.search2 .panel :hover .expand span	{ display:inline; }
.search2 .panel :hover .expand:before	{ display:none; }
/**************************/
table.read.property{ width:100%; }
table.read.property td, table.property th{
	vertical-align:top;
	background:#f8f8f8;
	padding:5px 10px;
	font-weight:normal;
}
table.read.property .alt td,
table.property .alt th{
	background:#f0f0f0;
}
table.read.property th{
	width:20%;
}
table.read.property td{
	width:30%;
}
table.read.property td.split{
	width:auto;
	padding:0 20px;
	background:none;
}