@charset "utf-8";
/* CSS Document */

/*`Design time style ajaxOverlay */
.ajaxBodyTag{
	background:rgba(0, 0, 0, 0.8);
}
#fadeOverlayHolder .ajaxBodyTag{
	background:none;
}
/*****************************/
.ajaxHolder{
	position:fixed;
	top: 30px; bottom:10px;
	left:0; right:0;
	padding:10px 0;
}
.ajaxBody{
	position:relative;
	width:80%; min-width:800px;
	height:100%;
	margin:auto;
}
.ajaxScroll{
	text-align:left;
	max-height:100%;
	overflow:auto;
}
/*****************************/
.ajaxClose{
	position:absolute;
	right:0; top:0px;
	font-weight:bold;
	background:#eee;
	border:solid 1px #ddd;
	padding:0px 5px;
	border-radius:3px;
	text-decoration:none;
}
.ajaxClose a{
	color:#666;
	text-decoration:none;
}
/* Loading background animation */
.ajaxLoading{
	position:fixed;
	top: 0; right:0; left:0; bottom:0;
	background:url(../design/loading.gif) no-repeat center center;
	z-index:50;
}
/*****************************/
.ajaxHolderEdit
{
	position: absolute;
	top: 30px;	bottom: 0;
	right: 0;	left: 0;
	color: white;
}
.ajaxHolderEdit .ajaxClose{
	right:10px; top:0px;
}
/*****************************/
.ajaxBody .ajaxDocument{
	background:#fff;
	padding:20px;
	border-radius:5px;
	border:solid #ccc 2px;
	color:#666;
}
.ajaxBody .ajaxDocument a{
}
.ajaxBody .ajaxDocument h1{
	font-weight:normal;
	font-size:24px;
	color:#555;
	margin-top:0; min-height:30px;
}
/*****************************/
.ajaxBody .ajaxDocument .form td,
.ajaxBody .ajaxDocument .form th
{
	color:#666;
	padding:10px 5px;
	font-size:14px;
	text-shadow:none;
}
.ajaxBody .ajaxDocument .form .input
{
	font-size:24px;
	border-radius:5px;
}
/*****************************/
.ajaxBody .ajaxTitle{
	color:white;
	font-weight:normal;
	font-size:24px;
	margin:0;
	min-height:30px;
}
/*****************************/
.ajaxDialog{
	top:20%;
	padding:40px 0;
}

/*****************************/
.ajaxMessage{
	padding-top:10px;
	max-width:500px;
	min-width:250px;
}
.ajaxMessage .message{
	border-radius:10px;
	padding-top:20px; padding-bottom:20px;
	font-size:16px;
	text-shadow:1px 1px 1px #fff;
	border: solid 2px white;
}
/*****************************/
.adminEditTools{
}
.adminEditTools table{
}
.ajaxBody .adminEditTools
{
	position:absolute;
	right: 30px; top: 5px;
}
/*	ajaxHolder for messages */
.ajaxOverlayMessage{
	margin:auto;
	margin-top:20%;
}
