/* CSS Document */

.adminWidget{
	position:relative;
	border-top:solid 5px #444;
	clear:both;
}
.adminWidget:hover{
	border-color:red;
}
.adminWidgetMenu
{
	color:white;
	background:#444;
	padding:5px 10px;
	text-align:left;
	overflow:hidden;
	white-space:nowrap;
/*
	box-shadow:0 0 5px #000;
	position:absolute;
	top: 0; left: 0;
	display:none;
	z-index:1000;
*/
}
.adminWidget:hover > .adminWidgetMenu{
	display:block;
}
div.adminWidgetMenu a{
	color:#ccc;
	text-decoration:none;
	text-shadow:1px 1px 2px #000;
	margin:0 10px;
}
.hiddenWidget .adminWidgetMenu{
	background:#920000;
}

.adminWidgetTabs{
}
.admiWidget .widgetsLib a{
	margin-right: 20px;
	line-height:150%;
}
/****************************/
.holderTrigger h3{
	margin-top:0;
	margin-bottom:10px;
	font-weight:normal;
	cursor:pointer;
}
.holderTrigger.selected h3{
	border-bottom:solid 1px #888;
}
.holderTrigger .content{
	display:none;
	margin:0; padding:0;
	margin-bottom:20px;
}
.holderTrigger.selected .content{
	display:block;
}

/*****************************/
.adminHolder{
	position:relative;
	border-top:solid 5px #7C4D00;
	clear:both;
}
.adminHolder:hover{
	border-color:#FFCE00;
}

.adminHolderMenu
{
	color:white;
	background: #7C4D00;
	padding:5px 10px;
	text-align:left;
	overflow:hidden;
	white-space:nowrap;
}
div.adminHolderMenu a{
	color:#ccc;
	text-decoration:none;
	text-shadow:1px 1px 2px #000;
	margin:0 10px;
}
