@charset "utf-8";
/* CSS Document */

.adminToolbar
{
	position:fixed;
	top:0;	left:0;	right:0;
	height:20px;
	
	background:#000 !important;
	font-size:12px !important;

	opacity: 0.3;
	-webkit-opacity: 0.3;
	-moz-opacity: 0.3;
	filter:alpha(opacity=30);
	
	z-index:300;
}

.adminHover{
	top:0;	left:0;	right:0;
	height:20px;
	position:fixed;
	z-index:300;
}

.adminPanel{
	position:fixed;
	cursor:default;
	color:black;
	padding:2px 0px;
	font-size:12px;
	font-weight:bold;
	padding-left:10px;
	text-shadow:0 0 3px black;
	 color:white;
	 text-decoration:none;
 }
.adminPanel b{
	position:fixed;
	right:0; top:0;
}

.adminTools{
	position:fixed;
	top:0;	left:50px;	right:50px;
	display:none;
}
.adminHover:hover .adminTools{
	display:block;
}
.adminTools a{
	color:white;
}
.adminTools pre{
	overflow:auto;
}
.adminTools div pre span span:hover{
	color:white;
	text-decoration:underline;
}
.adminTools .errorMessage{
	color:brown;
}
.adminTab{
	margin:10px 0px;
}
/*
	Edit menu area
*/
.adminEditArea{
	border:dotted 1px green !important;
	position:relative !important;
	min-height:18px !important;
	padding:0 !important;
}
.adminEditMenu{
	line-height: 1.5em !important;
	color:black !important;
	background:green !important;
	text-align:right !important;
	font-size:11px !important;
	font-weight:normal !important;
	position:absolute !important;
	z-index:300 !important;
	right:-1px; top:-17px !important;
	display:none !important;
	padding:0 !important; margin:0 !important;
	white-space:nowrap !important;
	border:none !important;
}
.adminEditMenu a{
	color:white !important;
	margin:0 5px !important;
	white-space:nowrap !important;
	padding:0 !important;
	border:none !important;
	font-size:12px !important;
	background:green !important;
	text-shadow:1px 1px 0px #030 !important;
	display:inline !important;
}

.adminEditMenu a:hover{
	color:#FF0 !important;
	background:green !important;
	margin:0 5px !important;
	padding:0 !important;
	border:none !important;
}
.adminEditMenu.adminBottom{
	top:auto !important;
	bottom:-17px;
}

.adminEditArea:hover{
	border:solid 1px green !important;
}
.adminEditArea:hover .adminEditMenu{
	background:green !important;
}
.adminEditArea:hover .adminEditMenu{
	display:block !important;
}

.admin .propFormat span{
	color:#0F0;
}
.droppable.dragStart{
	border:solid 2px red;
	padding:5px 0px;
}
.adminReplicate a.delete{
	display:none;
}
a.delete {
	text-decoration:none;
	color:#FF0000;
	display:block;
	margin-right:5px;
}

.adminTools .input{
	font-size:14px;
	padding:2px 0px;
	margin:4px 0px;
	margin-right:8px;
	border:solid 1px #888;
	background:white;
	color:#333;
}
.adminTools th, .adminTools .table th, .ui-tabs table th, .adminArea table th{
	text-align:left;
	color:#66CCFF;
	font-size:18px;
	font-weight:normal;
	border-color:#66CCFF;
}
.adminTools h1, .adminTools h2, .adminTools h3{
	color:white;
}

.admin .input{
	margin:2px;
}

