@charset "utf-8";
/* CSS Document */

.admin .input{
	font-size:14px;
	padding:2px 0px;
	margin:4px 0px;
	margin-right:8px;
	border:solid 1px #888;
	background:white;
	color:#333;
}
.ajaxHolderEdit .admin th{
	text-align:left;
	color:#66CCFF;
	font-size:18px;
	font-weight:normal;
}

.adminToolbar.{
	padding:0;
	cursor:default;
	color:white;
	line-height:1.5em;
}
.adminToolbar a{
	color:white;
}
.adminPanel{
	padding:10px;
	background:#6C0;
}
.adminToolbar div.adminWindow{
	display:none;
	position:absolute;
	top:0;
	left:10%; right:10%;
	margin:0;
	min-width:400px;
	z-index:200;
}
.adminToolbar:hover div.adminWindow{
	display:block;
}
.adminToolbar div pre{
	overflow:auto;
}
.adminToolbar div pre span span:hover{
	color:white;
	text-decoration:underline;
}
.adminToolbar .errorMessage{
	color:brown;
}
.adminTab{
	margin:10px 0px;
}
/*
	Edit menu area
*/
.adminEditArea{
	border:dotted 1px green;
	position:relative;
	min-height:18px;
}
.adminEditMenu{
	color:black;
	background:green;
	text-align:right;
	font-size:11px;
	font-weight:normal;
	position:absolute;
	right:0; top:0;
}
.adminEditMenu a{
	color:white;
	margin:0 5px;
}
.adminEditArea:hover{
	border:solid 1px green;
}
.adminEditArea:hover .adminEditMenu{
	background:#090;
}
.adminEditArea:hover .adminEditMenu a{
}
