/* CSS Document */
.adminMail a
{
	text-decoration:none;
	display:block;
	padding:2px 0 0 0;
	font-size:16px;
}
.adminMail a:hover
{
	text-decoration:underline;
}
.mail_sendOK a{
	color:green;
}
.mail_sendFalse a{
	color:red;
}
.mail_sendWait a{
	color:blue;
}

