/* CSS Document */

.inlineEditor{
	min-height:20px;
}
.inlineEditor:after{
	display:block;
	content: "";
	clear:both;
}

.ajaxOverlay .ui-autocomplete{
	position:fixed;
}
.cke_combopanel{
	width:200px !important;
	height:400px !important;
}
.cke_panel{
}
.cke_combo_text{
	width:100px !important;
}


