/* CSS Document */

.adminEditTools:after{
	display:block;
	clear:both;
	content: "";
}
.adminEditTools .button{
	padding:1px 5px;
}
.adminEditorTools {
	white-space:nowrap;
	text-align:right;
	float:right;
}
.adminEditorTools .adminEditorItem{
	white-space:normal;
	text-align:left;
	
	zoom: 1;
	display:inline-block;
	*display: inline;
}