@charset "utf-8";
/* CSS Document */

/**********************************/
body{
	margin:0; padding:0;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
}
h1, h2, h3, a{
	color:#75543b;
}
h2{
	font-size:17px;
}
h3{
	font-size:14px;
}
li{
	padding:5px 0;
}
img{
	border:none;
}
p{
	line-height:1.5em;
}
/**************************************/
.body{
	width:1100px;
	text-align:left;
	background:url(design/hdrbg.gif) repeat-x left 130px;
}
.body2{
	background:url(design/hdr1.jpg) no-repeat;
}
/********************************************/
.head{
	padding-top:5px;
	padding-left:420px;
	min-height:190px;
	height:190px;
}
.head td{
	text-align:right;
	padding:0 0 0 20px;
}
.head h2{
	font-size:16px;
	font-weight:normal;
	margin:0;
}
.head h1{
	font-size:26px;
	font-weight:normal;
	margin:0;
}
.head .logo{
	min-height:142px;
}
/**********************************************/
.master{
}
.master td{
	vertical-align:top;
}
.master .center{
	padding:0 9px;
}
/***********************************************/
.slot{
	width:360px;
	text-align:left;
	position:relative;
	color:white;
}
.slot a{
	text-decoration:none;
	color:white;
}
.slot h2 a{
	display:block;
}
.slot address{
	font-style:normal;
	display:inline;
	margin-left:10px;
}
.slot .info{
	padding:5px 10px;
}
.slot .info2{
	padding:5px 10px;
	min-height:120px;
	height:120px;
	overflow:hidden;
}
.slot .info2 big{
	font-size:24px;
}
.slot h2{
	color:white;
	margin:0;
	font-weight:normal;
	font-size:24px;
}
.slot p{
	margin:5px 0 8px 0;
}
.slot .image{
	display:block;
	height:220px;
	min-height:220px;
	background:#f8f8f8;
}
/*******************************/
.slot .bg{
	background:#5a4127;
}
.slot .bg:hover{
	background:#4b341d;
}
.slot .bg2{
	background:#84644b;
}
.slot .bg2:hover{
	background:#977459;
}
.slot .bg3{
	background:#94af00;
}
.slot .bg3:hover{
	background:#819800;
}
/*******************************************/
.slot.small{
	height:205px;
}
.slot.small h2{
	margin:0;
	font-size:16px;
}
.slot.small .holder{
	position:absolute;
	bottom:0; 
	left:0; right:0;
	min-height:45px;
}
.slot.small big{
	font-size:18px;
}
.slot.small .info2{
	height:auto;
	min-height:0;
}
.slot.small p, .slot.small .accept{
	display:none;
}
.slot.small:hover p, .slot.small:hover .accept{
	display:block;
}
.slot.small .accept th, .slot.small .accept td{
	border-radius:0;
	width:180px;
}
/*****************************************/
.slot.big{
	width:auto;
}
.slot.big img{
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.slot.big .holder{
	position:absolute;
	bottom:30px; left: 30px;
	width:400px;
}
.slot.big .image{
	min-height:410px;
	height:410px;
}
/**************************************/
.slot.article{
	width:100%;
}
.slot.article .holder{
	position:absolute;
	top:80px; left: 20px;
	width:400px;
}
.slot.article h1{
	position:absolute;
	top: 10px; left: 20px;
	margin:0;
	color:white;
	font-size:36px;
	font-weight:normal;
	text-shadow:0 0 10px #000;
	font-style:italic;
}
/****************************************/
.accept td, .accept th{
	padding:10px 5px;
	text-align:center;
	width:50%;
}
.accept td{
	border-bottom-left-radius:10px;
}
.accept th{
	border-bottom-right-radius:10px;
	font-size:14px;
}
.accept th a{
	text-decoration:underline;
}
/****************************************/
.document{
	padding:10px 20px;
}
/**************************************/
.buttonInfo{
	background:#67000f;
	padding:20px;
	border-radius:20px;
	margin:30px 0;
	color:white;
}
.buttonInfo *{
	color:white;
	margin:0;
	text-align:center;
}
.buttonInfo p{
	margin:10px 0;
}
.buttonInfo h3{
	font-size:20px;
}
.buttonInfo:hover{
	background:#770012;
}
/***********************************/
.page{
	margin-top:10px;
	background:url(design/copyright2.jpg) right bottom no-repeat;
	padding:0 0 20px 0;
	padding-bottom:90px;
}
.page td.center{
	padding:0 10px;
}
.page .left{
	padding-right:20px;
}
.page .right{
	padding-left:20px;
}
/************************************/
.copyright{
	background:#719a02 url(design/copyright.jpg) right -133px no-repeat;
	padding:20px 50px;
	min-height:200px;
}
.copyright td{
	padding:0 10px;
}
.copyright, .copyright *{
	color:white;
}
/****************************************/
.corp{
	font-size:14px;
}
.corp h1{
	margin:5px 0;
	font-weight:bold;
}
/*************************************/
.master .feedback{
	margin:0 0 20px 20px;
}
.feedback td, .feedback th{
	padding:5px 0;
}
.feedback th{
	padding-right:10px;
}
.feedback{
	padding:10px;
	background:#84644b;
	color:white;
}
.master .feedback h2{
	color:white;
	border-bottom:solid 1px white;
	font-size:34px;
	margin-bottom:10px;
	font-weight:normal;
}
.master .feedback .button{
	width:100%;
}
