@charset "utf-8";
/* CSS Document */

.scroll.gallery.small{
	position:relative;
	overflow:auto;
	width:100%;
	height:80px;
}
.gallery.small table{
	position:absolute;
}
.gallery.small td{
	vertical-align:middle;
	padding:0;
}
.gallery.small a{
	margin:0 5px;
}
.gallery.small img{
	border:solid 1px #eee;
	padding:2px;
}
.gallery.small a:hover img{
	border:solid 1px #F90;
}