.searchPanel
{
	margin:20px 0;
}
/*******************************/
.searchPanel .searchProperty a
{
	text-decoration:none;
	white-space: nowrap;
	color:#333;
	margin-right:5px;
}
.searchPanel .searchProperty a.current span
{
	text-decoration:underline;
}

.searchPanel .searchProperty a:hover span
{
	text-decoration:underline;
}
/*******************************/
.searchPanel .searchChoose big{
	font-size:18px;
	color: #333;
}
.searchPanel .searchChoose .searchProperty a{
	margin:0 10px;
}

.searchPanel .clear
{
	padding:2px 4px;
	border:solid 1px #ddd;
	border-radius:4px;
	text-decoration:none;
	color:#333;
	text-shadow: 1px 1px 0 white;
	margin:0;
	
	background: rgb(252,252,252); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(252,252,252,1) 0%, rgba(221,221,221,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(221,221,221,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(221,221,221,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(221,221,221,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(221,221,221,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(252,252,252,1) 0%,rgba(221,221,221,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}
/****************************/
.searchPanel table{
	border: solid 1px #eee;
}
.searchPanel th{
	white-space:nowrap;
	color:#FF8E00;
	padding-right:20px;
	padding-left:40px;
}
.searchPanel th,
.searchPanel td
{
	vertical-align:top;
	border-top:solid 1px #eee;
	padding-top:3px;
	padding-bottom:3px;
}
.searchPanel tr:first-child td.searchChoose
{
	background:#eee;
	text-shadow: 1px 1px 0 white;
	border: solid 1px white;
	padding:3px 5px;
}
.searchPanel tr:first-child th,
.searchPanel tr:first-child td
{
	border:none;
}
/****************************/
.searchPanel2 .title{
	margin-bottom:10px;
}
.searchPanel2 .clear{
	position:absolute;
	right:2px;
}
.searchPanel2 .searchChoose{
	margin-bottom:10px;
	position:relative;
}
.searchPanel2 .searchChoose .searchProperty a
{
	display:block;
	padding:2px 0;
	margin:0;
}
.searchPanel2 .searchProperty
{
	margin-bottom:20px;
}
