@charset "utf-8";
/* CSS Document */
.callback{
	display:block;
	margin:0; padding:10px 20px;
	width:250px;
	position:relative;
	margin:15px 0 15px 15px;
	background:white;
}
.callback a{
	display:block;
	text-decoration:none;
	margin-left:20px;
	font-size:18px;
	color:#004b91;
	border-bottom:dashed 2px #004b91;

	zoom: 1;
	display:inline-block;
	*display: inline;
}
.callback table td{
	padding:0;
}
.iconCallback{
	position:absolute;
	left:-15px; top:-10px;
	background:url(design/iconCallback.gif) no-repeat;
	width:40px; height:40px;
}
.callback:hover .iconCallback{
	background-position:0 -50px;
}

.callbackBackground{
	background:white;
	padding:5px;
}

.callbackHolder{
	display:none;
}
.callback:hover .callbackHolder{
	display:block;
	border: solid 1px #eee;
	position:absolute;
	left:0; right:0; top: 0;
	box-shadow:4px 4px 5px rgba(0, 0, 0, 0.3);
	padding:30px 0 0 0;
}
.callbackButton{
	background:url(design/iconCallback.gif) no-repeat 0 -100px;
	border:none;
	padding:0; margin:0;
	width:56px; height:33px;
}
.callback .input{
	padding:5px 0;
}