@charset "utf-8";
/* CSS Document */
.rating{
	display:block;
	white-space:nowrap;
	cursor:pointer;
}
.rating a{
	background:url(design/iconRating.gif) no-repeat;
	width:18px;	height:18px;
	display:inline-block;
	zoom: 1; *display: inline;
	padding:0; margin:0;
}
.rating:hover .enable{ background-position:0 0; }
.rating .enable, .rating:hover .e{ background-position:-18px 0; }

