/* CSS Document */

.widgetLandingTitle{
	top: 20px; min-width:200px;
	font-size:38px;
	font-weight:normal;
	padding:0 20px 0 40px;
	color:white;
	text-shadow:0 0 10px #000;
	line-height:100%;
}

.widgetLandingContent
{
	bottom:20px;
	padding:10px 20px 10px 40px;
	background:#fff;
	background:rgba(255, 255, 255, 0.8);
	font-size:18px;
	max-width:60%;
	margin:20px 0;
}

.widgetLanding1{
	position:relative;
}

.widgetLanding1 p{
	margin:0;
}
.widgetLanding1 .widgetLandingHolder
{
	position:absolute;
	top: 20px;
}