/* CSS Document */

div.widgetLandingTitle{
	font-size:38px;
	font-weight:normal;
	line-height:100%;
}
div.widgetLandingTitle p{
	margin:0;
}

.widgetLandingContent
{
	font-size:16px;
	line-height:150%;
}
div.widgetLandingContent a{
	color:white;
}

.widgetLanding1{
	position:relative;
	min-height:300px;
	text-align:left;
}

.widgetLanding1 .widgetLandingTitle{
	top: 20px; min-width:200px;
	padding:0 0 0 60px;
	color:white;
	text-shadow:0 0 10px #000;
}
.widgetLanding1 .widgetLandingContent
{
	bottom:20px;
	padding:20px 40px 20px 60px;
	background:rgb(50, 50, 50);
	background:rgba(50, 50, 50, 0.8);
	color:white;
	margin:20px 0;
	
	border: solid 4px white;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	
	border-left:none;
}

.widgetLanding1 p{
	margin:0;
}
.widgetLanding1 .widgetLandingHolder
{
	position:absolute;
	top: 20px; left:0;
	max-width:75%;
}