/* CSS Document */

.widgetLandingTitle{
	top: 20px; min-width:200px;
	font-size:38px;
	font-weight:normal;
	padding:0 20px 0 60px;
	color:white;
	text-shadow:0 0 10px #000;
	line-height:100%;
}

.widgetLandingContent
{
	bottom:20px;
	padding:20px 40px 20px 60px;
	background:rgb(50, 50, 50);
	background:rgba(50, 50, 50, 0.8);
	color:white;
	font-size:16px;
	line-height:150%;
	max-width:60%;
	margin:20px 0;
	
	border: solid 4px white;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	
	border-left:none;
}

.widgetLanding1{
	position:relative;
}

.widgetLanding1 p{
	margin:0;
}
.widgetLanding1 .widgetLandingHolder
{
	position:absolute;
	top: 20px;
}