/* CSS Document */

.admin_droppable{
	position:relative;
	width:100%;
}

.admin_droppable.ui-droppable
{
	min-height:50px;
	min-width:50px;
}
.admin_droppable.ui-droppable:after
{
	display:block;
	position:absolute;
	content: " ";
	left: 0; top: 0; right: 0; bottom: 0;
	background:#ff8;
	border:dashed 4px green;
	z-index:998;
}

.admin_droppable.admin-ui-state-active:after{
	background:none;
	border:none;
}