@charset "utf-8";
/* CSS Document */
.operator.contacts{
	clear:both;
}
.operator td{
	vertical-align:top;
	border-top:solid 1px #eee;
	padding:10px 0;
}
.operator td td, .operator #first td{
	border-top:none;
}
.operator td td{
	padding:0 10px;
}
.operator .info{
	padding-right:50px;
}
.operator h3{
	margin:0;
	margin-bottom:10px;
}
.operator.managers{
	white-space:nowrap;
}
.operator.managers img{
	border:solid 1px #eee;
}
.manager{
	width:200px;
	text-align:right;
	padding:10px;
	color:#2587a4;
	font-size:14px;
}
.manager *{
	margin:4px 0;
	white-space:nowrap;
}
.manager h4,.manager .dHowH4{
	color:#2587a4;
	text-align:right;
	font-weight:normal;
	font-size:16px;
	background: none;
	padding-top: 0px;
	padding-bottom: 0px;
}
.manager h3, .manager .dHowH3{
	color:#d00;
	font-size:18px;
	background: none;
	padding-top: 0px;
	padding-bottom: 0px;
}
.manager div{
	color:#2587a4;
	font-size:28px;
	background:url(../../design/iconPhone.gif) no-repeat 0 5px;
	zoom: 1;
	display:inline-block;
	*display: inline;
	padding:5px 0 5px 30px;
}