@charset "utf-8";
/* CSS Document */
.tabs{
	float:right;
	width:700px;
	margin:0 0 10px 10px;
}
.tabHolder, .tabHolder *{
	zoom: 1;
	display:inline-block;
	*display: inline;
	padding:0; margin:0;
	list-style:none;
	list-style-image:none;
	list-style-type:none;
	white-space:nowrap;
}
.tabHolder{
	background:#48a3be;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	box-shadow:0 0 10px rgba(0, 0, 0, 0.3);
}
.tabHolder li a{
	color:white;
	text-decoration:none;
	margin:0 2px; padding:5px 10px;
}
.tabHolder .current{
	background:white;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border:solid 1px #eee;
}
.tabHolder .current a{
	color:#48a3be;
}
.tabContent{
	border:solid 1px #eee;
	border-top:none;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	box-shadow:0 0 10px rgba(0, 0, 0, 0.3);
	display:none;
}
.current.tabContent{
	display:block;
}
