@charset "utf-8";
/* CSS Document */

.table .orderNote{
	color:#6699FF;
	padding-top:0;
}
.table .orderNote.manager{
	color:red;
}
.orderStatus_new{
	color:green;
}
.orderStatus_received{
	color:blue;
}
.orderStatus_wait{
	color:red;
}
.orderStatus_completed{
	color:silver;
}
.orderStatus_rejected{
	color:silver;
	text-decoration:line-through;
}
