@charset "utf-8";
/* CSS Document */

.gallery td{
	padding:20px;
	border-left:solid 1px #eee;
	border-top:solid 1px #eee;
	vertical-align:top;
	text-align:center;
}
.gallery #first{ border-left:none; }
.gallery #first td{ border-top:none; } 