@charset "utf-8";
/* CSS Document */
body{
	padding:0; margin:0;
	min-width:800px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
a{
	color:#6699FF;
}
h1{
	font-size:26px;
	margin:0;
	font-weight:normal;
}
.bkAdv{
	background:url(adv/adv.jpg) repeat-x;
	background-position:center top;
	height:800px;
}
.contentBox{
	position:relative;
	padding:130px 23px 0 23px;
	text-align:center;
}
.logo{
	position:absolute;
	top:25px;
	left:50%;
	margin-left:-82px;
}
.contentBorder{
	position:relative;
	border:solid 2px white;
	border-radius:45px;
	text-align:left;
	overflow:hidden;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
	border-bottom:0;
	height:180px;
}
.contentBackgroud{
	background:#333;
	position:absolute;
	top:0;left:0;right:0;bottom:0;
}
.transparent {
	zoom: 1;
	filter: alpha(opacity=90);
	opacity: 0.9;
}
.content{
	position:absolute;
	top:0;left:0;right:0;
	color:white;
	padding:15px 100px;
}
.dot{
	background:url(design/icon_dot.gif) no-repeat;
	width:18px; height:18px;
}
.dot.left{
	position:absolute;
	left:20px;
}
.dot.right{
	position:absolute;
	right:20px;
}
.dot.top{
	position:absolute;
	top:20px;
}
.dot.bottom{
	position:absolute;
	bottom:20px;
}
.right{
	text-align:right;
}
.content .center{
	padding-top:30px;
	text-align:center;
}
.content .menu a{
	color:white;
	text-decoration:none;
	font-size:14px;
}
.menu a{
	display:block;
	padding:5px 0px;
}
div.login{
	font-size:16px;
	line-height:150%;
	margin:20px 0px;
}
a.login{
	color:red;
	font-weight:bold;
}
a.register{
	font-weight:bold;
	color:#33FF00;
}
a.lost{
	color:white;
}
.content .searchForm h2{
	color:white;
}
.content .property .title{
	display:none;
}
.content .search.property, .content .search.property th, .content .search.property td{
	border:none;
}
.content .search.property th{
	color:#aaa;
}
.content .search.property a{
	color:#fff;
}
.copyright{
	background:#333333;
	border-radius:45px;
	border-top-left-radius:0;
	border-top-right-radius:0;
	padding:25px;
	margin:0 25px;
	color:white;
}
.body{
	margin:0 23px;
	background:white;
	padding:10px 40px;
}
.searchForm h2{
	padding-left:20px;
	font-weight:normal;
	font-size:24px;
	margin:0;
}
.searchForm .input{
	font-size:26px;
	color:#666;
	border-radius:6px;
}
.searchForm .button{
	margin-left:10px;
}
.center .login{
	text-align:center;
}

